* {
    font-family: 'Montserrat', sans-serif;
}

.autho-body{
    width: auto;
    height: auto;
    background: linear-gradient(to right, #6897D4, #EDF5FF);
}

.nav-buttons{
    width: 780px;
    display: flex;
    padding-top: 20px;
    padding-left: 25%;
}

.nav-buttons button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #3D82DB;
    margin: 20px;
}

.nav-buttons button:hover{
    background: #6897D4;
}

.autho-label{
    width: 700px;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.autho-label label{
    font-size: 30px;
    text-align: center;
}

.autho-input{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.autho-input input{
    font-size: 17px;
    padding: 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
}

.reg-body{
    background: #EDF5FF;
}

.reg-label{
    width: 700px;
    padding-top: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.reg-label label{
    font-size: 30px;
    text-align: center;
    color: black;
}

.reg-input{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    column-count: 2;
    position: relative;
}

.reg-input div{
    display: flex;
    justify-content: center;
    height: 400px;
    flex-wrap: wrap;
}

.reg-input input{
    width: 100%;
    height: 15%;
    font-size: 18px;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    border-color: #3D82DB;
    border: 5px;
    background: #6897D4;
    color: #EDF5FF;
    font-weight: bold;
}

.reg-input input:hover{
    background: #EDF5FF;
    border-color: #3D82DB;
    color: black;
}

.reg-button{
    width: 700px;
    display: flex;
    padding-left: 25%;
}

.reg-button button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #3D82DB;
    margin: 20px;
}

.reg-button button:hover{
    background: #6897D4;
}

.admin-body{
    width: auto;
    height: auto;
    background: #EDF5FF;
}

.admin-head{
    width: 100%;
    background: #6897D4;
    height: 100px;
}

.admin-buttons{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.admin-button button{
    border: none;
    border-radius: 3px;
    height: 37px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
    margin: 30px;
    align-items: center;
}

.admin-table{
    width: 100%;
    margin-top: 130px;
    border: none;
    margin-bottom: 20px;
}

.admin-table tbody td{
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.admin-table button{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 24px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 37px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

.admin-table button:hover{
    background: #EDF5FF;
    border: 5px;
    border-color: #3D82DB;
    color: #3D82DB;
}

.general-menu{
    width: 100%;
    background: #EDF5FF;
}

.button-styles button{
    border: none;
    border-radius: 3px;
    height: 37px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

.button-styles button:hover{
    background: #EDF5FF;
    border: 5px;
    border-color: #3D82DB;
    color: #3D82DB;
}

.input-form{
    margin: 30px;
}

.input-form label{
    display: block;
    margin-bottom: 0.25rem;
}

.input-form input{
    display: block;
    width: 50%;
    height: calc(2rem + 2px);
}

.input-form button{
    margin-top: 15px;
}

.buttons-near{
    text-align: center;
    display: flex;
    margin: 20px;
}

.buttons-near button{
    margin: 10px;
}

/*стили для страницы пациента*/

.patient-body{
    width: 100%;
    background: #EDF5FF;
}

.patient-header{
    width: 100%;
    background: #EDF5FF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient-header button{
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 200px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.patient-header button:hover{
    background: #EDF5FF;
    border-color: #3D82DB;
    color: #3D82DB;
}

.patient-button-styles{
    display: flex;
}

.patient-table-main::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.patient-table-main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

/* Handle */
.patient-table-main::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 20px;
}

/* Handle on hover */
.patient-table-main::-webkit-scrollbar-thumb:hover {
    background: blue;
}
.patient-patient-body{
    border-radius: 20px;
    width: 100%;
    background: #EDF5FF;
    height: 100%;
}
.patient-main-panel{
    background-color: #EDF5FF;
    border-radius: 20px;
    width: 98%;
    padding: 20px;
}
.patient-main-panel .patient-search-menu .patient-search-table{
    display: inline-block;
    width: 70%;
    height: 540px;
    background-color: #6897D4;
    border-radius:  20px;
    padding: 10px;
    padding-left: 1%;
    margin-right: 1.5%;
}

.patient-search-table button{
    border: none;
    border-radius: 3px;
    height: 37px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

.patient-search-measures{
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 540px;
    background-color: #6897D4;
    border-radius:  20px;
    padding: 10px;
}

.patient-search-measures label{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}

.patient-item{
    width: 100%;
    font-size: 20px;
    flex-wrap: wrap;
    justify-items: left;
    position: absolute;
    vertical-align: middle;
    margin-top: 25px;
}

.patient-item form{
    margin: 10px;
}

.patient-item input{
    color: #EDF5FF;
}
.patient-table-main{
    background-color: #EDF5FF;
    height: 480px;
    margin-top: 10px;
    width: 98%;
    border: 5px solid;
    border-color: aliceblue;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.patient-main-panel input{
    background-color: #EDF5FF;
    font-size: 10%;
    width: 30%;
    height: 30px;
    border-radius: 20px;
}
.patient-main-panel .patient-table-main tr{
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 50px;
    border-color: aliceblue;
}
.patient-main-panel .patient-table-main tr td:first-child{
    border-right: 5px solid;
    border-color: aliceblue;
}
.patient-main-panel .patient-table-main tr td:last-child{
    border-left: 5px solid;
    border-color: aliceblue;
}

/*личный кабинет пациента*/
.private-body{
    width: 99%;
    background: #EDF5FF;
}

.header-private{
    display: flex;
    height: 100px;
    width: 99%;
    justify-content: space-between;
    align-items: center;
    background: #6897D4;
    border-radius: 5px;
}

.header-private button{
    padding: 10px;
    width: 150px;
    margin: 20px;
    font-weight: bold;
}

.patient-label{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    display: flex;
}

.patient-label label{
    font-size: 30px;
}

.patient-info-table{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
}

.patient-private-info{
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.patient-private-info td{
    font-size: 20px;
}

.patient-private-info input{
    font-size: 20px;
}

.patient-private-info button{
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 200px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
    padding: 5px;
}

.create-line{
    width: 100%;
    margin-top: 30px;
    border-top: 3px solid #3D82DB;
}

.patient-document-import{
    width: 100%;
    margin: auto;
}

.patient-import-table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.patient-import-table input{
    font-size: 20px;
    width: 700px
}

.patient-import-table td button{
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 200px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

/*окно с прошлыми приемами*/

.header-reception{
    display: flex;
    height: 100px;
    width: 99%;
    justify-content: space-between;
    align-items: center;
    background: #6897D4;
    border-radius: 5px;
}

.header-reception button{
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 200px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.reception-list-info{

}

.reception-table{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

/*главное меню сотрудника врача*/

.employee-body{
    width: 99%;
    background: #EDF5FF;
}

.employee-header{
    display: flex;
    height: 100px;
    width: 99%;
    justify-content: space-between;
    align-items: center;
    background: #6897D4;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.employee-header button{
    padding: 10px;
    width: 200px;
    margin: 20px;
    font-weight: bold;
}

.employee-label{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    display: flex;
}

.employee-label label{
    font-size: 30px;
}

.button-margin{
    margin-left: 10px;
}

.employee-main-info{
    width: 90%;
    background: #6897D4;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: auto;
}

.employee-reg-table{
    margin: 10px;
}

.employee-reg-table td{
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.employee-reg-table a{
    font-size: 20px;
    color: #EDF5FF;
    margin: 15px;
    text-align: center;
    justify-content: center;
}

.employee-reg-table button{
    border: none;
    border-radius: 3px;
    height: 37px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

/*окно с записями*/
.patient-button-styles button{
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 200px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

.registrations-panel{
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
}

.registration-table td{
    padding: 10px;
}

.registration-table input{
    width: 800px;
    height: 100px;
    font-size: 18px;
    border: 1px solid #083de1;
    word-wrap: break-word;
    padding: 12px 20px;
}

.registration-table button{
    border: none;
    border-radius: 3px;
    height: 37px;
    width: 180px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

.popup-reg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(12, 20, 98, 0.8);
    display: none;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background: #6897D4;
    padding: 20px;
    transform: translate(-50%, -50%);
    padding-top: 60px;
}

.close-popup{
    position: absolute;
    top: 30px;
    left: 30px;
}

.reg-past-emp-body{
    width: 99%;
    background: #EDF5FF;
}

.reception-data-info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 99%;
    height: 50%;
    border: 1px solid #6897D4;
}

.reception-div-info{
    width: 99%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.reception-div-info a{
    margin: 15px;
}

.reception-div-info label{
    margin: 15px;
}

.reception-div-info select{
    margin: 15px;
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 100px;
}

.reception-div-info button{
    border: none;
    border-radius: 3px;
    height: 27px;
    width: 200px;
    font-size: 14px;
    background: #3D82DB;
    text-transform: uppercase;
    color: #EDF5FF;
}

.create-line-vert{
    margin: 15px;
    height: 25px;
    border-left: 3px solid #32a1ce;
}

.medref-data-info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 99%;
    border: 1px solid #6897D4;
}

.medref-div-info{
    margin: 20px;
}

.medref-div-info label{
    margin-right: 10px;
}

.medref-div-info label{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    border: #3D82DB;
}