<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="employee-body">
<header class="employee-header">
    <form method="get" action="/">
        <div class="button-styles">
            <button>Выйти</button>
        </div>
    </form>
    <form method="get" action="/ReceptionPastEmp">
        <div class="button-styles">
            <button>Прошлые приемы</button>
        </div>
    </form>
</header>
<div class="employee-label">
    <label>Список записей</label>
</div>
<form>
    <div class="button-styles">
        <button class="button-margin open-Popup">Добавить новую запись</button>
    </div>
</form>
<div class="employee-main-info">
     <table class="employee-reg-table">
         <tr th:each="item : ${registrations}">
             <form method="get" action="/ReceptionPatWin">
                 <input hidden name="idReg" th:value="${item.id_registration}">
                 <td></td>
                 <td><a th:text="${item.date}">Дата</a></td>
                 <td><a th:text="${item.time}">Время</a></td>
                 <td><a th:text="${item.patientFIO}">Пациент</a></td>
                 <td><button>Начать прием</button></td>
             </form>
         </tr>
     </table>
</div>
<!--<div class="popup-reg">-->
<!--    <form>-->
<!--        <div class="popup">-->
<!--            <h3>Добавьте новую запись</h3>-->
<!--            <a>Дата</a>-->
<!--            <input type="text">-->
<!--            <p></p>-->
<!--            <a>Время</a>-->
<!--            <input type="text">-->
<!--            <p></p>-->
<!--            <button class="new-reg-button close-popup">Сохранить и закрыть</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<script>-->
<!--    $('.open-Popup').click(function (){-->
<!--        $('.popup-reg').fadeIn(600);-->
<!--    });-->
<!--    $('.close-popup').click(function (){-->
<!--        $('.popup-reg').fadeOut(600);-->
<!--    });-->
<!--</script>-->
</body>
</html>