<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="patient-body">
<header class="patient-header">
    <form method="get" action="/">
        <button class="left-button">Выйти</button>
    </form>
    <div class="patient-button-styles">
    <form>
        <button>Приемы</button>
    </form>
    <form>
        <button>Запись</button>
    </form>
    </div>
    <form method="get" action="/PrivateRoom">
        <button class="right-button">Личный кабинет</button>
    </form>
</header>
<div class="patient-main-panel">
    <div class="patient-search-menu">
        <div class="patient-search-table">
            <input>
            <button>Поиск</button>
            <div class="patient-table-main">
                <table>
                    <tr th:each="item : ${regs}">
                        <form>
                            <td><a th:text="${item.empFIO}"></a></td>
                            <td><a th:text="${item.empPositions}"></a></td>
                            <td><a th:text="${item.dateTimeRegistrarion}"></a></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
        <div class="patient-search-measures">
            <label>Направления</label>
            <div class="patient-item">
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="therapy" id="therapy" value="Терапевт">
                    <label>Терапия</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="stomatology" id="stomatology" value="Стоматолог">
                    <label>Стоматология</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="ginekology" id="ginekology" value="Гинеколог">
                    <label>Гинекология</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="nevrology" id="nevrology" value="Невролог">
                    <label>Неврология</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="urology" id="urology" value="Уролог">
                    <label>Урология</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="kardiology" id="kardiology" value="Кардиолог">
                    <label>Кардиология</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check"type="checkbox" name="lor" id="lor" value="Отоларинголог">
                    <label>Отоларингология</label>
                </form>
                <form>
                    <input onchange="onChangeCB()" class="check_box_js_check" type="checkbox" name="usi" id="usi" value="УЗИ">
                    <label>УЗИ</label>
                </form>
                <form method="get" action="/PatientMenu">
                    <div class="button-styles">
                    <input id="types_box" name="typesFilter" hidden>
                    <button type="submit">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    function onChangeCB(){
        var result = "";
        var inputHidden = document.getElementById("types_box");
        var inputElements = document.getElementsByClassName('check_box_js_check');
        for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].checked){
                result += inputElements[i].value +",";
            }
        }
        inputHidden.value = result;
    }
</script>
</body>
</html>