<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="private-body">
<header class="header-private">
    <form method="get" action="/PatientMenu">
        <div class="button-styles">
            <button>Назад</button>
        </div>
    </form>
    <form>
        <div class="button-styles">
            <button>Приемы</button>
        </div>
    </form>
</header>
<div class="patient-label">
    <label>Данные пациента</label>
</div>
<form method="post" action="/uploadFiles" enctype="multipart/form-data">
    <div class="button-styles">
        <input type="file" name="fileinput" onchange="checkFileSize(this)">
        <input id="userId" name="loginUser" hidden th:value="${patient.getLogin_Patient()}">
        <button style="margin: 20px">Загрузить результаты обследований</button>
    </div>
</form>
<div class="patient-info-table">
    <form method="post" action="">
    <table class="patient-private-info">
        <tr>
            <td>Фамилия</td>
            <td><input th:value="${patient.getSecond_Patient()}"></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td><input th:value="${patient.getFirst_Patient()}"></td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td><input th:value="${patient.getMiddle_Patient()}"></td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td><input th:value="${patient.getBirthday_Patient()}"></td>
        </tr>
        <tr>
            <td>Логин</td>
            <td><input th:value="${patient.getLogin_Patient()}"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input th:value="${patient.getPassword_Patient()}"></td>
        </tr>
    </table>
    </form>
    <form method="post" action="/PrivateRoom/AddDocument">
        <table class="patient-private-info">
            <tr>
                <td>Серия паспорта</td>
                <td><input type="text" th:value="${docs.getSeries_Passport()}" name="SeriesPassport" required></td>
            </tr>
            <tr>
                <td>Номер паспорта</td>
                <td><input type="text" th:value="${docs.getNum_Passport()}" name="NumPassport" required></td>
            </tr>
            <tr>
                <td>Дата выдачи</td>
                <td><input type="datetime-local" th:value="${docs.getDate_Issue()}" name="DateIssue" required></td>
            </tr>
            <tr>
                <td>Кем выдан</td>
                <td><input type="text" th:value="${docs.getIssued_By()}" name="IssuedBy" required></td>
            </tr>
            <tr>
                <td>Код подразделения</td>
                <td><input type="text" th:value="${docs.getDep_Code()}" name="DepCode" required></td>
            </tr>
            <tr>
                <td>Номер полиса</td>
                <td><input type="text"  th:value="${docs.getNum_CMI()}" name="NumCMI" required></td>
            </tr>
            <tr>
                <td><button>Изменить</button></td>
            </tr>
        </table>
    </form>
</div>
<div class="create-line"></div>
<div class="patient-document-import">
    <table class="patient-import-table">
        <tr>
            <form>
                <td><input></td>
            </form>
            <td><a th:href="${'/download/'+patient.getLogin_Patient()}"><button>Скачать</button></a></td>
            <form>
                <td><button>Удалить</button></td>
            </form>
        </tr>
    </table>
</div>

<script>
    function checkFileSize(inputElement) {
        var input = inputElement;
        var fileSize = input.files[0].size;

        if (fileSize > 100000) {
            alert('Файл слишком большой! Максимальный размер - 100 тысяч байт.');
            input.value = '';
        }
        if(!input.files[0].name.endsWith(".pdf")){
            alert("Файл должен храниться в pdf формате!")
            input.value = "";
        }
    }
</script>
</body>
</html>