<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приемы</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="reception-body">
<header class="header-reception">
    <form method="get" action="/PatientMenu">
        <div>
            <button>Главная страница</button>
        </div>
    </form>
    <form method="get" action="/PrivateRoom">
        <div>
            <button>Назад</button>
        </div>
    </form>
</header>
<div class="reception-list-info">
    <form method="get" action="">
    <table class="reception-table">
        <tr th:each="item : ${receptionsList}">
            <td>Врач: <a th:text="${item.second_employee + ' ' + item.first_employee + ' ' + item.middle_employee}"></a></td>
            <td>Дата: <a th:text="${item.date_reception}"></a></td>
            <td>Время: <a th:text="${item.time_reception}"></a></td>
            <td><button>Скачать результаты приема</button></td>
            <td><button>Скачать справку</button></td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>