<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<header class="header-private">
    <form method="get" action="/PatientMenu">
        <div class="button-styles">
            <button>Назад</button>
        </div>
    </form>
    <form>
        <div class="patient-button-styles">
            <button>Личный кабинет</button>
        </div>
    </form>
</header>
</body>
<div class="registrations-panel">
        <table class="registration-table">
            <tr th:each="item : ${regList}">
                <form method="post" action="/addSymptoms">
                    <input th:value="${item.id_registration}" name="idReg" hidden>
                    <td><a th:text="${item.date_reg}">Дата</a></td>
                    <td><a th:text="${item.time_reg}">Время</a></td>
                    <td><a th:text="${item.second_employee + ' ' + item.first_employee + ' ' + item.middle_employee}">Врач</a></td>
                    <td><textarea name="des_symptoms" th:text="${item.des_symptoms}"></textarea></td>
                    <td><button>Сохранить</button></td>
                </form>
                <td>
                    <form method="post" action="/patientRegistrationsDelete">
                        <input th:value="${item.id_registration}" name="idReg" hidden>
                        <button>Отменить запись</button>
                    </form>
                </td>
            </tr>
        </table>
</div>
</html>