<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель системного администратора</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="sysadmin-body">
<header class="admin-head">
    <div class="admin-button">
        <form method="get" action="/">
            <button>Выйти</button>
        </form>
    </div>
</header>
<div>
    <form method="get" action="/AdminPanel/addBackup">
        <button>Создать бэкап</button>
    </form>
</div>
<div>
    <table>
        <tbody>
        <tr th:each="item : ${logs}">
            <form method="get" action="/SysAdminMenu">
                <td><a th:text="${item.date_name}">время</a></td>
                <td><a th:text="${item.log_Name}">описание</a></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>