<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Документы</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="general-menu">
<div class="button-styles">
    <form method="get" action="/AuthorisationWin/AdminPanel"><button>Назад</button></form>
</div>
<div class="input-form">
    <form method="post" action="">
        <label>Серия паспорта</label>
        <input type="text" name="seriesName" required>
        <label>Номер паспорта</label>
        <input type="text" name="numberName" required>
        <label>Дата выдачи паспорта</label>
        <input type="text" name="dateName" required>
        <label>Код подразделения паспорта</label>
        <input type="text" name="depCodeName" required>
        <label>Кем выдан паспорта</label>
        <input type="text" name="IssuedName" required>
        <label>Номер полиса</label>
        <input type="text" name="CMIName" required>
        <label>Пациент</label>
        <input type="text" name="IDPatientName" required>
        <div class="button-styles">
            <button class="button-styles">Добавить</button>
        </div>
    </form>
</div>
<div class="buttons-near">
    <form class="button-styles">
        <button>Удалить</button>
    </form>
    <form class="button-styles">
        <button>Изменить</button>
    </form>
</div>
<div class="info-table">
    <table class="table-form">
        <a>department</a>
    </table>
</div>
</body>
</html>